.liteGray {font-weight: bold; color: #AAAAAA}
.border {padding: 8px}
.scroll{
#height: 155px;
#width: 537px;
overflow: auto;
padding: 10px;
} 
.show {visibility: visible}
.hide {visibility: hidden}
.fontBoldBlack {font-weight: bold; color: #000000}
.boldFont {font-weight: bold}
.tealBack {background-color: #aaffff}
.box{
        background-color: #97ABC4;
        #6F839C;
        #778ba4;
        
        #CFE3FC;
        #f0f0f0;
        #margin-top: 15px; 
        #margin-bottom: 15px;
        #margin-right: 15px;
        #margin-left: 15px;
        width: 100%;
        height: 100%; 
        #460px;
        #560px;

        #850px;
        #820px;
        border-radius: 5px;
        box-shadow: 5px 5px 10px #373737;
    }